body {
  overflow-x: hidden;
}

.header {
  position: relative;
  background-attachment: fixed; /*kind of parallax effect*/
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
.header-images {
  filter: brightness(55%);
}
